
/build
/obj
/packages
/TestResults
/.nuget/nuget.exe
/scalejs.linq.csproj.user
/scalejs.linq.v11.suo
/scalejs.linq/build
/scalejs.linq/obj
/scalejs.linq.test/build
/scalejs.linq.test/obj
/scalejs.linq-linqjs/build
/scalejs.linq-linqjs/obj
/scalejs.linq-linqjs/scalejs.linq-linqjs.csproj.user
*.suo